<div id="<%= dom_id book %>">
  <p>
    <strong>Book name:</strong>
    <%= book.Book_name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.Author %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= book.Owner %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= book.Contact %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= book.Location %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= book.Availability %>
  </p>

</div>
